.plot-line {
    stroke: black;
    fill: none;
    stroke-width: 1;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis>text {
    fill: #ee0000;
    font-size: 1.5em;
    font-family: sans-serif;
}

.tick text {
    opacity: 0.7;
}

.tick line
{
    stroke: #59ADEB;
    opacity: 0.5;
}

g path.domain
{
    stroke: #4F4F4F;
}
